@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;35
}

body {
  width: 100%;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  word-break: break-all;
  box-sizing: border-box;
  background-color: rgb(25 24 48);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
}

form {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: rgb(25 24 48);
  border-radius: 0px;
  margin: 0;
  transition: all .3s ease-out;
}

.form {
  width: 100%;
  height: 100vh;
}

form h1 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 2.3rem;
  margin-top: 35px;
  color: #ffffff;
}

#ms-erro {
  width: 100%;
  text-align: center;
  margin: 14px;
}

.label-input-grup {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.name-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-out;
}

.label-input, .label-input-email,
 .label-input-senha {
   display: flex;
   position: relative;
   margin: 9px 15px;
}

.label-input {
  position: relative;
}


.label-input label,
.label-input-email label, 
.label-input-senha label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 10px;
    color: #8f8f8f;
    margin-top: 9px;
    transition: all .3s ease-out;
}



.label-input input {
  width: 100%;
  padding: 7px 7px;
  position: relative;
  outline: none;
  padding-top: 13;
  color: #ffffff;
  font-size: 18px;
  transition: all .3s ease-out;
  background-color: #262448;
  border-radius: 4px;
  border: 1.5px solid #262448;
}

.label-input-senha input {
  max-width: 65%;
  width: 100%;
  padding: 7px 7px;
  outline: none;
  padding-top: 13;
  color: #ffffff;
  font-size: 14px;
  transition: all .3s ease-out;
  background-color: #262448;
  border-radius: 4px 0px 0px 4px;
  border: 1.5px solid #262448;
}

.label-input-email input {
  width: 100%;
  padding: 7px 7px;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  transition: all .3s ease-out;
  background-color: #262448;
  border-radius: 4px;
  border: 1.5px solid #262448;
}

.label-input input:focus,
.label-input-senha input:focus,
.label-input-email input:focus {
    border: 1.5px solid #413d8a;
}



.input-gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.radio-gender {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #8f8f8f;
  border-radius: 8px 4px 4px 8px;
  padding: 2px;
  font-size: 11px;
  font-weight: 600;
  background-color: #262448;
}



.ver-senha {
  max-width: 35%;
  text-align: center;
  cursor: pointer;
  font-size: 9px;
  flex: 1 0 auto;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background-color: #3636A1;
  color: #ffffff;
}

.label-input input:valid + label,
.label-input-senha input:valid + label,
.label-input-email input:valid + label {
    margin-top: -15px;
    font-size: 13px;
    left: 8px;
    padding-top: 0;
    font-weight: 600;
}

.btn-entrar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnCad {
  width: 100%;
  height: 2.4rem;
  margin: 10px 35px;
  border: 0;
  cursor: pointer;
  background-color: #3636a1;
  border-radius: 2px;
  color: #fcfcff;
}

button:hover {
    background-color: #4646a1;
}

p {
    margin: 11px;
}

p a {
    text-decoration: none;
    color: rgb(91, 91, 255);

}

p a:hover {
    color: rgb(115, 115, 255);
    transition: all .3s ease-out;
}

@media (min-width: 480px) {
  
  .container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin-top: 0px;
    transition: all .0s ease-out;
}
  
  form {
    border-radius: 50px;
    box-shadow: 0px 0px 20px 3px #000000;
    transition: all .0s ease-out;
  }
  
  .form {
    max-width: 23rem;
    height: 31rem;
    margin: 0px;
}
  
  form h1 {
  font-size: 2.3rem;
}
  #ms-erro {
    margin: 11px 0px;
  }

  .label-input input {}

  .gender {
    gap: 7px;
    margin-bottom: 0px;
  }

  .name-password {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
  }

  .label-input-senha input {}

  .input-gender {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

@media (min-width: 820px) {
  
  .container {
    width: 100%;
    transition: all .0s ease-out;
}
  
  form {
    height: 3px;
    transition: all .0s ease-out;
  }
  
  .form {
    max-width: 468px;
    height: 27rem;
}
  
  form h1 {
  font-size: 3rem;
}

  .gender {
    gap: 7px;
    margin-right: 25px;
    flex-wrap: nowrap;
  }
  
  .input-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .name-password {
    display: flex;
    flex-direction: row;
    transition: all .3s ease-out;
  }

  .label-input-senha input {}

  .input-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
  }
}
